body     {background-image:url('pro.png');
          background-color:#7c7d76}
h1        {background-color:#fff;
	font-family:"Open Sans Condensed",sans-serif;}

h2        {background-color:#fff;font-family:"Montserrat",sans-serif;}

h3        {background-color:#fff}

a   {background-color:#fff}

table {background-color: #fff}